/* Created by: Graeme
* Created on: March 19
* This CSS file defines the style for index.html
* ICS2O-Unit2-02-HTML-AreaPerRectangle
*/

body {
	background-color: seagreen;
}

h1 {
	background-color: #808080;
	color: hsl(40, 36%, 43%);
	padding: 10px;
	text-align: center;
}